{{! 
	
	COMMENTS
	- Configuration of this file is not required. 

}}

	<section class="comments">
		<section id="comments" class="commentheader">
			<div class="wrapper">
				<i class="fa fa-comments-o"></i>
				<span class="commenttitle">Comments</span>
			</div>
		</section>
		<section class="commentitems">
			<div class="wrapper">
				<div id="disqus_thread"></div>
			</div>
		</section>
	</section>
