{{! 
	
	COMMENTS
	- Configuration of this file is not required. 

}}

	<section class="comments">
		<section class="commentitems">
			<div class="wrapper">
				<div id="comments-button" class="button rounded light">Show comments</div>
				<div id="disqus_thread"></div>
			</div>
		</section>
	</section>
