{{! 
	
	COPYRIGHT
	- Configuration of this file is optional. 

}}

	<section class="widget copyright">
		<p class="main">
			Copyright &copy; <a href="{{@blog.url}}">{{@blog.title}}</a>. {{date format="YYYY"}} &bull; All rights reserved.
		</p>
		<p class="alt">
			<span class="ecko"><a target="_blank" href="http://ecko.me/themes/ghost/cedar">Cedar Ghost Theme</a> by <a target="_blank" href="http://ecko.me">EckoThemes</a>.</span>
			<span class="ghost">Published with <a target="_blank" href="http://ghost.org">Ghost</a>.</span>
		</p>
	</section>