{{! 
	
	COPYRIGHT
	- Configuration of this file is optional. 

}}

	<section class="widget copyright">
		<p class="main">
			Copyright &copy; <a href="{{@blog.url}}">{{@blog.title}}</a>. {{date format="YYYY"}} &bull; All rights reserved.
		</p>
	</section>
