{{!

	COVER - INDEX
	- Configuration of this file is not required.

}}

	{{#if @blog.cover}}
		<section class="cover front" data-height="100">
			<div class="background" style="background-image:url('{{@blog.cover}}');"></div>
			<section class="blogtitle wrapper">
                <a href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
				{{#if @blog.description}}
					<p class="description" itemprop="description">{{@blog.description}}</p>
				{{/if}}
			</section>
			<div class="mouse">
				<div class="scroll"></div>
			</div>
		</section>
	{{/if}}
