{{!

	CTA SECTION
	- Configuration of this file is not required.

}}

    <div class="cta" style="background-image: url('{{asset "img/cta_bg.jpg"}}')">
        <p class="cta__headline">Build powerful apps in half the time</p>
        <p class="cta__subheadline">Use our serverless platform to set up your backend in minutes.</p>
        <a class="cta__button" href="https://www.syncano.io/?utm_source=article&utm_medium=blog&utm_campaign=footer-banner">Learn more</a>
    </div>
