{{!

	CTA SECTION
	- Configuration of this file is not required.

}}

    <div class="cta" style="background-image: url('{{asset "img/cta_bg.jpg"}}')">
        <p class="cta__headline">A Serverless App Platform For Developers</p>
        <p class="cta__subheadline">Forget About The Backend. Build Powerful Realtime Apps Efficiently.</p>
        <a class="cta__button" href="https://www.syncano.io/">Learn more</a>
    </div>
