{{!

  SIDEBAR - POST
  - Configuration of this file is optional.

}}

<section class="drawer">
  <i class="fa fa-times closedrawer"></i>
  {{> widget_bloginfo}}
  {{> widget_navigation}}
  {{> widget_authorprofile}}
  {{> widget_socialshare}}
  {{> widget_subscribe}}
  {{!> widget_tagcloud}}
  {{!> widget_advert}}
  {{> widget_twitter}}
  {{> copyright}}
</section>
