{{!

	FOOTER
	! Configuration of this file is required.

}}

  {{#unless post}}
    {{> cta}}
  {{/unless}}
	<footer class="main">
        {{> copyright}}

        <ul class="menu">
            <li><a href="https://www.syncano.io/#/features/">Features</a></li>
						<li><a href="https://syncano.github.io/syncano-node-cli/#/" target="_blank">Documentation</a></li>
            <li><a href="https://www.syncano.io/#/pricing/">Pricing</a></li>
            <li><a href="https://syncano.workable.com/" target="_blank">Careers</a></li>
            <li><a href="https://www.syncano.io/#/terms-of-service/">Terms and Legal</a></li>
            <li><a href="mailto:hello@syncano.com">Contact us</a></li>
        </ul>

        <ul class="social">
			{{! REPLACE THE LINKS BELOW WITH YOUR SOCIAL PROFILE URLS }}
			{{! DELETE/COMMENT ANY PROFILES WHICH ARE NOT REQUIRED }}
			<li><a href="http://twitter.com/syncano/" target="_blank" class="twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://www.facebook.com/syncano/" target="_blank" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://github.com/Syncano/" target="_blank" class="github" title="GitHub"><i class="fa fa-github"></i></a></li>
			<li><a href="https://www.linkedin.com/company/syncano/" target="_blank" class="linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://dribbble.com/syncano/" target="_blank" class="dribbble" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="{{@blog.url}}/rss/" target="_blank" class="rss" title="RSS"><i class="fa fa-rss"></i></a></li>

			{{! <li><a href="http://google.com/plus" target="_blank" class="google" title="Google+"><i class="fa fa-google"></i></a></li> }}
			{{! <li><a href="http://youtube.com/" target="_blank" class="youtube" title="YouTube"><i class="fa fa-youtube"></i></a></li> }}
			{{! <li><a href="http://instagram.com/" target="_blank" class="instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li> }}
			{{! <li><a href="http://pinterest.com/" target="_blank" class="pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li> }}
			{{! <li><a href="http://flickr.com/" target="_blank" class="flickr" title="Flickr"><i class="fa fa-flickr"></i></a></li> }}
			{{! <li><a href="http://vine.co/" target="_blank" class="vine" title="Vine"><i class="fa fa-vine"></i></a></li> }}
			{{! <li><a href="http://vimeo.com/" target="_blank" class="vimeo" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li> }}

			{{! UNCOMMENT ANY PROFILES FROM THE BELOW WHICH ARE REQUIRED }}
			{{! TUMBLR  <li><a href="http://tumblr.com/" target="_blank" class="tumblr" title="Tumblr"><i class="fa fa-tumblr"></i></a></li> }}
			{{! REDDIT <li><a href="http://reddit.com/" target="_blank" class="reddit" title="Reddit"><i class="fa fa-reddit"></i></a></li> }}
			{{! STACK <li><a href="http://stackoverflow.com/" target="_blank" class="stackoverflow" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a></li> }}
			{{! TWITCH <li><a href="http://twitch.tv/" target="_blank" class="twitch" title="Twitch"><i class="fa fa-twitch"></i></a></li> }}
			{{! VK <li><a href="http://vk.com/" target="_blank" class="vk" title="VK"><i class="fa fa-vk"></i></a></li> }}
			{{! WEIBO <li><a href="http://weibo.com/" target="_blank" class="weibo" title="Weibo"><i class="fa fa-weibo"></i></a></li> }}
			{{! SOUNDCLOUD <li><a href="http://soundcloud.com/" target="_blank" class="soundcloud" title="Soundcloud"><i class="fa fa-soundcloud"></i></a></li> }}
		</ul>
	</footer>
