{{! 
	
	HEADER
	- Configuration of this file is not required. 

}}

	<header class="bloginfo headroom">
		<div class="title">
			<a href="{{@blog.url}}"><img src="{{asset "img/logo_alt.svg"}}" class="retina" alt="{{@blog.title}}"></a>
		</div>
		<nav class="main">
			{{navigation}}
			<ul>
				<li class="option drawernav"><span class="showdrawer"><i class="fa fa-navicon"></i></span></li>
			</ul>
		</nav>
	</header>