{{!

	NAVIGATION
	- Configuration of this file is optional.

}}

	<ul>
        <li class="menu-item-has-children"><a href="#">Categories</a>
            <ul class="sub-menu">
                <li><a href="/blog/tag/tutorials/">Tutorials</a></li>
                <li><a href="/blog/tag/updates/">Updates</a></li>
                <li><a href="/blog/tag/engineering/">Engineering</a></li>
                <li><a href="/blog/tag/events/">Events</a></li>
                <li><a href="/blog/tag/customers/">Customers</a></li>
            </ul>
        </li>
		{{! FOR CUSTOM MULTI-LEVEL NAVIGATION SEE THE INCLUDED DOCUMENTATION }}
		{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
