{{! 
	
	POSTLIST
	- Configuration of this file is not required.  

}}
		
	<section class="postlist">
		{{#foreach posts}}
			{{^has tag="cedar_format_quote, cedar_format_image, cedar_format_video, cedar_format_audio, cedar_format_status"}}
				{{> post_format_standard}}
			{{else}}
				{{#has tag="cedar_format_quote"}}
					{{> post_format_quote}}
				{{/has}}
				{{#has tag="cedar_format_video, cedar_format_audio"}}
					{{> post_format_video}}
				{{/has}}
				{{#has tag="cedar_format_image"}}
					{{> post_format_image}}
				{{/has}}
				{{#has tag="cedar_format_status"}}
					{{> post_format_status}}
				{{/has}}
			{{/has}}
		{{/foreach}}
		{{pagination}}
	</section>
