{{! 
	
	POST FORMAT - QUOTE
	- Configuration of this file is not required.  

}}

	<article class="postitem format-quote {{post_class}} {{#if @first}}first{{/if}}">
		<div class="wrapper">
			<div class="content">{{content}}</div>
		</div>
	</article>