{{! 
	
	WIDGET - ADVERT
	! Configuration of this file is required.  

}}

	<section class="widget advrt">
		
		{{! WIDGET CONTENT }}
		{{! REPLACE THE LINE BELOW WITH YOUR ADVERT EMBED CODE }}
		{{! RECOMMENDED SIZE: 300 x 250 }}
		<a href="#"><img src="http://koala-wp.ecko.me/wp-content/themes/KoalaTheme/assets/img/avrt_300.jpg" alt="avrt"></a>
		
	</section>
