{{! 
	
	WIDGET - TAG CLOUD
	! Configuration of this file is required. 

}}
	
	<section class="widget">
		{{! WIDGET HEADER }}
		<h3 class="widget-title">Tags</h3>
		<hr>
		{{! WIDGET CONTENT }}
		<div class="tagcloud">
			<a href="/tag/css/">CSS</a>
			<a href="/tag/development/">Development</a>
			<a href="/tag/frontend/">Frontend</a>
			<a href="/tag/grunt/">Grunt</a>
			<a href="/tag/html/">HTML</a>
			<a href="/tag/javascript/">JavaScript</a>
			<a href="/tag/lifecycle/">Lifecycle</a>
			<a href="/tag/nginx/">Nginx</a>
			<a href="/tag/project/">Project</a>
			<a href="/tag/sass/">SASS</a>
			<a href="/tag/server/">Server</a>
			<a href="/tag/social/">Social</a>
			<a href="/tag/software/">Software</a>
			<a href="/tag/varnish/">Varnish</a>
			<a href="/tag/video/">Video</a>
		</div>
	</section>