/* BLOG TITLE */

.blogtitle, .errortitle {
	display: table-cell;
	vertical-align: middle;
	width: 700px;
	position: relative;
	z-index: 1000;

	h1 {
		margin: 10% 0 50px;
		font-family: $font_header;
		font-size: 44px;
		font-weight: 600;
		line-height: 52px;
		color: #fff;
	}

	.description {
		font-family: $font_header;
		font-size: 23px;
		line-height: 38px;
		color: #B3B3B3;
		letter-spacing: -1px;
		margin: 40px 0 35px;

		a {
			color: #939393;
		}
	}

	hr {
		border: 0;
		height: 3px;
		width: 10%;
		background: #5a5a5a;
		margin: 0;
	}

	@media (max-width: 880px) {
		width: 70%;
		text-align: center;

		.description {
			font-size: 20px;
			line-height: 32px;
		}

		hr {
			margin: 0 auto;
			width: 20%;
		}
	}

	@media (max-width: 560px) {
		width: 80%;

		img {
			margin-top: 25%;
		}

		.description {
			font-size: 18px;
			line-height: 28px;
			margin-top: 25px;
		}

		hr {
			display: none;
		}
	}

	@media (max-height: 520px) {
		.description, hr {
			display: none;
		}
	}
}