.cta {
    background: #0070d3;
    background-size: cover;
    text-align: center;
    padding: 124px 15px 115px;

    .cta {
        &__headline {
            color: #fff;
            font-size: 36px;
            font-weight: 500;
            line-height: 56px;
            margin: 0;
        }

        &__subheadline {
            opacity: 0.8;
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            line-height: 56px;
            margin: 0;
            padding-bottom: 39px;
        }

        &__button {
            background-color: #fc0;
            border-radius: 22px;
            color: #3d3d3d;
            font-size: 14px;
            font-weight: 800;
            line-height: 33px;
            display: inline-block;
            padding: 7px 36px 6px;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 767px) {
    .cta {
        padding: 120px 15px;

        .cta {
            &__headline {
                line-height: 50px;
            }

            &__subheadline {
                line-height: 36px;
                margin-top: 30px;
            }
        }
    }

}
