{{! 
	
	ERROR TEMPLATE
	- Configuration of this file is optional.  

}}
{{!< default}}

	<section class="cover front">
		<div class="background" style="background-image:url('{{@blog.image}}');"></div>
		{{> bloginfo}}
		<section class="blogtitle wrapper">
			<h1>Error: {{code}}</h1>
			{{! ERROR PAGE MESSAGE }}
			<p class="description">The page you were looking for cannot be found, it may have been moved or no longer exists. Navigate back to the homepage <a href="{{@blog.url}}">here</a>.</p>
		</section>
		<div class="mouse hide">
			<div class="scroll"></div>
		</div>
	</section>

    <script type="text/javascript">
        analytics.page('Website', {
            Page: '404'
        });
    </script>