{{! 
	
	POST TEMPLATE
	- Configuration of this file is not required.  

}}
{{!< default}}

	{{#post}}

		{{> cover_post}}

		<section class="postcontents wrapper">
			{{content}}
		</section>

		{{> post_footer}}

		{{> cta}}

		{{> author_profile}}

		{{> comments}}

				<script type="text/javascript">
						analytics.page('Website', {
								Page: '{{title}}'
						});
				</script>
	{{/post}}

