.headroom-wrapper {
  height: 0 !important;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include z-index(top-bar);
  transition: $transition-default;
  background: #0B0F15;
  transform: translateZ(0);

  // Chrome for iOS (iPhone) .top-bar chink fix
  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background: #0B0F15;
  }

  .top-bar__inner {
    overflow: hidden;
    max-width: 72.5%;
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    @include z-index(top-bar__inner);
    transition: $transition-default;
  }

  .top-bar__logo {
    float: left;

    a,
    span {
      display: block;
      padding: 10px;
      margin: -10px;

      .white {
        display: none;
      }
    }

    a {
      transition: $transition-default;

      &:hover {
        opacity: .8;
      }
    }
  }

  .top-bar__nav {
    .top-bar__nav__hamburger {
      float: right;
      cursor: pointer;
      padding: 10px;
      margin: -10px;
      transition: $transition-default;

      .close {
        display: none;
      }

      &:hover {
        opacity: .8;
      }
    }

    .top-bar__nav__menu {
      display: none;
      text-align: right;

      &.top-bar__nav__menu__left {
        float: left;
        margin-left: 50px;
      }

      li {
        display: inline-block;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }

        .button {
          min-width: 0;
          height: 34px;
          line-height: 30px;
          cursor: pointer;
          text-decoration: none;
          padding-top: 0;
          padding-bottom: 0;

          &.button--noborder {
            padding: 0;
            color: $color-main-gray;

            &:hover {
              color: $color-main-white;
            }
          }

          &.button--right {
            padding: 0;
            color: $color-main-white;

            &:hover {
              color: $color-main-gray;
            }
          }

          &.is-active {
            color: $color-main-white;
          }
        }
      }
    }
  }

  &.headroom--pinned:not(.headroom--top),
  &.headroom--unpinned,
  &.headroom--not-top {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);

    .top-bar__nav__menu__cta {
      @extend .button--featured;
    }
  }

  @include body-class('has-hamburger-menu-visible') {
    background: none;
    box-shadow: none;

    &:before {
      background: transparentize($color-main-blue, .03);
    }

    .top-bar__logo img {
      display: none;

      &.white {
        display: block;
      }
    }

    .top-bar__nav .top-bar__nav__hamburger img {
      display: none;

      &.close {
        display: block;
      }
    }
  }

  @include body-class('has-modal-open') {
    &:before {
      background: #0B0F15;
    }
  }

  @include medium {
    box-shadow: none;
    overflow: hidden;

    &:before {
      display: none;
    }

    .top-bar__inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .top-bar__logo img {
      height: 15px;
      margin-top: 8px;
      display: block !important;

      &.white {
        display: none !important;
      }
    }

    .top-bar__nav {
      .top-bar__nav__hamburger {
        display: none;
      }

      .top-bar__nav__menu {
        display: block;
      }
    }

    &.headroom--pinned:not(.headroom--top),
    &.headroom--unpinned {
      transform: translateY(-46px);

      .top-bar__inner {
        transform: translateY(23px);
      }
    }
  }

  @include large {
    .top-bar__nav .top-bar__nav__menu__left li {
      margin-right: 25px;

      &.top-bar__nav__menu__item--customers,
      &.top-bar__nav__menu__item--docs {
        display: inline-block;
        margin-right: 14px;
      }
      &.top-bar__nav__menu__item--social {
        margin-right: 4px;
        font-size: 14px;
        color: rgba(255, 255, 255, .5)
      }
    }
  }
}

.headroom {
  @extend .top-bar;
}

// Syncano Serverless Blog adjustments
.top-bar {
  font-family: 'Roboto', sans-serif;
  overflow: visible;
  line-height: 1;

  ul {
    margin: 0;
    padding: 0;
  }

  .top-bar__nav__hamburger img {
    border-radius: 0;
  }

  .top-bar__submenu {
    display: none;
  }

  &.headroom--pinned:not(.headroom--top),
  &.headroom--unpinned {
    transform: translateY(0);

    .top-bar__inner {
      transform: translateY(0);
      background: #0B0F15;

      @include body-class('has-hamburger-menu-visible') {
        background: none;
      }
    }
  }

  @include medium {
    .top-bar__main {
      background: #0B0F15;
      position: relative;
      @include z-index(top-bar__main);
    }

    .top-bar__inner {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .top-bar__submenu {
      display: block;
      background: #32393e;
      transition: all .5s;
      transform: translateZ(0);
      position: absolute;
      @include z-index(top-bar__submenu);
      top: 100%;
      width: 100%;

      .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .top-bar__submenu__title {
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);

        a {
          color: inherit;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }

      .top-bar__submenu__categories ul {
        list-style: none;
        display: flex;

        li {
          margin-right: 16px;

          &:last-child {
            margin-right: 0;
          }

          .button {
            color: rgba(255, 255, 255, .5);
            padding: 0;
            display: inline-block;
            min-width: 0;

            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }

    &.headroom--pinned:not(.headroom--top) .top-bar__submenu,
    &.headroom--unpinned .top-bar__submenu {
      transform: translateY(-100%);
      opacity: .5;
    }
  }
}
